.navbar.order-last.order-lg-0 {
  background-color: rgba(0, 0, 0, 0)
}
.navbar.navbar-scrolled {
  background-color: rgba(0, 0, 0, .7) !important
}

a.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}


@media screen and (max-width:1240px) {

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu a {
    font-size: 2rem;
  }

  a.nav-link{
    color: black;
    font-size: large;
  }

  .me-auto.navbar-nav{
    font-size: larger;
  }

  li.nav-item{
    color: black;
  }

} 
